MarkupSafe
PyYAML
Send2Trash
ansible
ansible-compat
ansible-core
ansible-lint
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
bcrypt
beautifulsoup4
black
bleach
bracex
certifi
cffi
cfgv
charset-normalizer
click
click-help-colors
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
distlib
enrich
execnet
executing
fastjsonschema
filelock
flake8
fonttools
fqdn
h11
httpcore
httpx
identify
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-pygments-lexers
isoduration
jedi
jinja2
jmespath
joblib
jq
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
markdown-it-py
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
molecule
molecule-plugins
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
netaddr
nodeenv
notebook-shim
numpy
overrides
packaging
pandas
pandoc
pandocfilters
parso
passlib
pathspec
patsy
pexpect
pillow
pip
platformdirs
pluggy
plumbum
ply
pre-commit
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pycodestyle
pycparser
pyflakes
pygments
pyparsing
pytest
pytest-ansible
pytest-plus
pytest-sugar
pytest-xdist
python-dateutil
python-json-logger
pytz
pyzmq
referencing
requests
resolvelib
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
seaborn
setuptools
six
sniffio
soupsieve
stack-data
statsmodels
subprocess-tee
termcolor
terminado
threadpoolctl
tinycss2
tornado
traitlets
types-python-dateutil
typing-extensions
tzdata
uri-template
urllib3
virtualenv
wcmatch
wcwidth
webcolors
webencodings
websocket-client
wheel
yamllint
zipp
